.hello{
    margin-left: 300px;
}
.hello > div {
    display: inline-block;
    margin-right: 50px;
}
.hello > div > div{
    display: inline-block;
    margin-right: 50px;
}
.hello > div > div > div{
    display: inline-block;
    margin-right: 50px;
}
