.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

}

h3{
  color: #333;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 40px;
  font-family: Metropolis, sans-serif;
}

.columns p{
  font-family: Metropolis, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
}
#i-valori-di-ariston{
  color: #c41230;
  text-transform: uppercase;
  font-family: Metropolis,sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3.75px;
  line-height: 32px;
  margin: 50px 0;
  text-align: center;
}
